<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComoComprar</title>
    <link rel="icon" href="../assets/img/favicon.png.png">
     <!-- Linkear archivo externo css -->
    <link rel="stylesheet" href="../css/estilo.css">
<!-- Linkear fonts de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@500&family=Lora:ital@1&family=Merriweather:wght@300&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <!-- Linkear archivo externo css -->
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="contenedor-padre">
    <!-- APERTURA CONTENDOR PADRE GRID -->
    <!-- ITEM HIJO GRID -->
    <header class="header">
    <!-- header -->
    <!-- inicio encabezado -->
        <!-- logo -->
        <div class="logoala">
              <img src="../assets/img/ala.png" alt="logo"width="100 px" heigth="100 px">
        </div>
<!-- cierre de logo -->
<!-- inicio nav -->
        <nav class="text-center">
            <div class="nav text-center">
                <!-- lista con viñetas -->
                <ul >
                    <li class="nav__item nav__item--background"><a href="../index.html" class="nav-color">INICIO</a></li>
                    <li class="nav__item nav__item--background"><a href="#"class="nav-color">PRODUCTOS</a></li>
                    <li class="nav__item nav__item--background"><a href="#"class="nav-color">TALLE DE ANILLOS</a></li>
                    <li class="nav__item nav__item--background"><a href="#"class="nav-color ">POLITICA DE DEVOLUCIÓN</a></li>
                    <li class="nav__item nav__item--background"><a href="#"class="nav-color">QUIÉNES SOMOS</a></li>
                    <li class="nav__item nav__item--background"><a href="#"class="nav-color">CÓMO COMPRAR</a></li>
                </ul>
            </div>
        </nav>
        <!-- cierre nav -->
    </header>
<!-- cierre primer contenedor padre -->
<!-- fin del header -->
<!-- cierre de encabezado -->
<!-- CIERRE ITEM HIJO GRID -->
<!-- SEGUNDO ITEM HIJO GRID -->
<!-- apertura segundo contenedor padre -->
<!-- inicio contenido -->
    <main class="main">
        <div class="antetitulo">
            <p class="antetitulo"> 15% OFF EN EFC- 3 & 6 CUOTAS SIN INTERES</p>
         </div>
        <div class="padre">
            <article class="hijo"><img src="../assets/img/pesos.png" alt="pesos" width="80" height="100"><br>✨ 15% OFF ✨ <br>ABONANDO EN EF (MRT)
            </article>
            <article class="hijo"><img src="../assets/img/envios.png" alt="pesos" width="80" height="100"><br>ENVIOS A TODO 🇦🇷 <br> MEDIANTE ANDREANI
            </article>
            <article class="hijo"><img src="../assets/img/tarjetas.png" alt="pesos" width="80" height="100"><br>3 & 6 𝘾𝙐𝙊𝙏𝘼𝙎 𝙎𝙄𝙉 𝙄𝙉𝙏𝙀𝙍𝙀𝙎! 🔥<br> CON VISA Y MASTERCARD</article>
        </div>
        <div class="subtituloEncabezado">
             <a href="#">Inicio</a><a href="">/Cómo Comprar</a>
         </div>
        <h1 id="encabezado">CÓMO COMPRAR</h1>
        <h2 style="text-align:center">SI DESEAS COMPRAR ONLINE TE RECOMENDAMOS QUE SIGAS LEYENDO!</h2>
        <h5>Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Quis veniam perferendis inventore cum itaque quasi temporibus incidunt perspiciatis, distinctio nemo quaerat cupiditate eveniet, quo nostrum repudiandae, eligendi ex dolore. Pariatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur consequuntur suscipit quis placeat expedita ullam inventore sapiente similique, fugit accusamus impedit iure facere quo, ea incidunt quisquam tempore quas, fugiat.</h5>
    </main>
<!-- inicio footer -->
    <footer class="footer text-center grid-footer">    
<!-- redes sociales -->
        <div class="redes">
            <h3>REDES SOCIALES</h3>
            <a href="https://www.instagram.com" target="_blank">
                <img src="../assets/img/instagram.png" alt="logo insta" width="70 px"heigth="70 px">
            </a>
            <img src="../assets/img/facebook.png" alt="logo face"width="90" heigth="90 px"/>
        </div>
<!-- Newsletter -->         
<!-- Formulario de contacto -->
        <div class="formulario">
            <h3>NEWSLETTER</h3>
            <form  class="formulario" action="#">
                <label for="nombre"> Nombre:
                    <input class="nombre" type="text"name= "nombre">
                    <input class="email"type="text"name="Tu Email:" placeholder="Tu Email:">
                </label>
            </form>
        </div> 
<!-- Contactanos -->
        <div class="contacto">
            <h3>CONTACTANOS</h3>
            <article class="contacto">@ala.joyas
            </article>
            <article class="contacto">3562-411493
          </article>
            <article class="contacto">España 1175</article>
        </div>
    </footer>
    <div class="copy">
         <ul>
            <li class="nav__item nav__item--background"><a href="../index.html" class="nav-color">INICIO</a></li>
            <li class="nav__item nav__item--background"><a href="#"class="nav-color">PRODUCTOS</a></li>
            <li class="nav__item nav__item--background"><a href="#"class="nav-color">TALLE DE ANILLOS</a></li>
            <li class="nav__item nav__item--background"><a href="#"class="nav-color">POLITICA DE DEVOLUCIÓN</a></li>
            <li class="nav__item nav__item--background"><a href="#"class="nav-color">QUIÉNES SOMOS</a></li>
            <li class="nav__item nav__item--background"><a href="#"class="nav-color">CÓMO COMPRAR</a></li>
        </ul>
<!-- cierre footer -->
<!-- logo -->
         <div class="logoala">
            <img src="../assets/img/ala.png" alt="logo"width="100 px" heigth="100 px">
         </div>
<!-- cierre de logo -->
     </div> 
</body>
</html>