<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Talle anillos</title>
    <link rel="icon" href="../assets/img/favicon.png.png">
  <!-- Linkear fonts de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@500&family=Lora:ital@1&family=Merriweather:wght@300&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <!-- Linkear archivo externo css -->
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <!-- inicio encabezado -->
    <header>
        <!-- logo -->
            <div class="logoala">
                <a href="../index.html">
                    <img src="../assets/img/ala.png" alt="Logo"width="100 px" heigth="100 px">
                </a>
            </div>
        <!-- cierre de logo -->
  <!-- inicio nav -->
            <nav class="text-center">
                <div class="nav text-center">
                    <!-- lista con viñetas -->
                    <ul >
                        <li class="nav__item nav__item--background"><a href="../index.html" class="nav-color">INICIO</a></li>
                        <li class="nav__item nav__item--background"><a href="#"class="nav-color">PRODUCTOS</a></li>
                        <li class="nav__item nav__item--background"><a href="#"class="nav-color">TALLE DE ANILLOS</a></li>
                        <li class="nav__item nav__item--background"><a href="#"class="nav-color ">POLITICA DE DEVOLUCIÓN</a></li>
                        <li class="nav__item nav__item--background"><a href="#"class="nav-color">QUIÉNES SOMOS</a></li>
                        <li class="nav__item nav__item--background"><a href="#"class="nav-color">CÓMO COMPRAR</a></li>
                    </ul>
                </div>
            </nav>
<!-- cierre nav -->
    </header>
    <!-- cierre de encabezado -->
    <!-- inicio contenido -->
    <main>
        <div class="antetitulo">
             <p class="antetitulo"> 15% OFF EN EFC- 3 & 6 CUOTAS SIN INTERES</p>
        </div>
        <div class="padre">
            <article class="hijo"><img src="../assets/img/pesos.png" alt="pesos" width="80" height="100"><br>✨ 15% OFF ✨ <br>ABONANDO EN EF (MRT)
            </article>
            <article class="hijo"><img src="../assets/img/envios.png" alt="pesos" width="80" height="100"><br>ENVIOS A TODO 🇦🇷 <br> MEDIANTE ANDREANI
          </article>
            <article class="hijo"><img src="../assets/img/tarjetas.png" alt="pesos" width="80" height="100"><br>3 & 6𝘾𝙐𝙊𝙏𝘼𝙎 𝙎𝙄𝙉 𝙄𝙉𝙏𝙀𝙍𝙀𝙎! 🔥<br> CON VISA Y MASTERCARD</article>
        </div>
        <div class="subtitulo">
             <a href="#">Inicio</a><a href="">/Talle Anillos</a>
         </div>
    <article>
        <h1 id="encabezado" style="color: black;">TALLE ANILLO</h1>
        <h2 style="text-align:center">QUE TALLE DE ANILLO SOY?</h2>
        <p style="text-align:center" style="color: black;">Para saber que talle de anillo sos, agarra uno que tengas (fíjate que no esté abollado ni aplastado) y medí con una regla el diámetro interno del anillo, ese número te dirá que talle sos!</p>
        <center>
        <img src="../assets/img/tablaanillos.png" alt="tabla"width="350 px" heigth="350 px">
        </center>
    </article>
    </main>
    <!-- inicio footer -->
    <footer class="footer">
        <!-- LOGO -->
        <img src="" alt="">
        <!-- redes sociales -->
        <div>
            <h3>REDES SOCIALES</h3>
            <a href="https://www.instagram.com" target="_blank">
                <img src="../assets/img/instagram.png" alt="logo insta" width="70 px"heigth="70 px">
            </a>
            <img src="../assets/img/facebook.png" alt="logo face"width="90" heigth="90 px">
        </div>
        <!-- Newsletter -->
        <div>
            <h3>NEWSLETTER</h3>
        </div>
        <!-- Formulario de contacto -->
        <form class="formulario" action="#">
            <label>               
             <input type="text"name= "nombre" placeholder="Nombre">
             <input type="text"name="Tu Email:" placeholder="Tu Email:">
            </label>
        </form> 
        <!-- Contactanos -->
        <div class="contacto">
            <h3>CONTACTANOS</h3>
            <article class="contacto">@ala.joyas
            </article>
            <article class="contacto">3562-411493
          </article>
            <article class="contacto">España 1175</article>
        </div>
    </footer  class="footer border">
         <ul>
            <li class="nav__item nav__item--background"><a href="../index.html" class="nav-color">INICIO</a></li>
            <li class="nav__item nav__item--background"><a href="#"class="nav-color">PRODUCTOS</a></li>
            <li class="nav__item nav__item--background"><a href="#"class="nav-color">TALLE DE ANILLOS</a></li>
            <li class="nav__item nav__item--background"><a href="#"class="nav-color">POLITICA DE DEVOLUCIÓN</a></li>
            <li class="nav__item nav__item--background"><a href="#"class="nav-color">QUIÉNES SOMOS</a></li>
            <li class="nav__item nav__item--background"><a href="#"class="nav-color">CÓMO COMPRAR</a></li>
        </ul>
<!-- cierre footer -->
<!-- logo -->
            <div class="logoala">
                  <img src="../assets/img/ala.png" alt="logo"width="100 px" heigth="100 px">
            </div>
<!-- cierre de logo -->
</body>
</html>